@font-face {
    src: url("fonts/CONSOLA.TTF") format("ttf");

    font-family: "Consola";
    font-weight: 100;
}

@font-face {
    src: url("fonts/Bahnschrift.TTF") format("ttf");

    font-family: "Bahnschrift";
    font-weight: 100;
}

$green: #79DA41;
$white: #F7F5F5;
$black: #0E0E0E;



